html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head-line {
  position: relative;
  width: 100%;
  height: 21px;
  background-color: #04e4a2;
}
body {
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #e94643;
  width: 100%;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header .header-wraper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1250px;
}
header .header-wraper:before,
header .header-wraper:after {
  content: " ";
  display: table;
}
header .header-wraper:after {
  clear: both;
}
header .logo {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
  display: inline-block;
  line-height: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 2.1875em;
  text-align: center;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  header .logo {
    text-align: left;
  }
  header .logo span {
    padding-left: 165px;
  }
}
header nav {
  display: inline-block;
  text-align: right;
  line-height: 80px;
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
}
header .nav-wraper {
  padding-right: 20px;
  text-align: right;
}
header .nav-item {
  display: inline-block;
  font-size: 1em;
  margin: 0 10px;
  font-weight: 100;
}
header .nav-item a {
  text-transform: uppercase;
  border-bottom: 3px solid #fdd835;
  text-decoration: none;
  color: #fff;
}
button {
  text-transform: uppercase;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  padding: 0 24px;
  outline: none;
  cursor: pointer;
}
.green-button {
  background-color: #04e4a2;
}
.promo {
  background-color: #ef5350;
  height: 580px;
}
.promo-wraper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1250px;
}
.green-elements {
  position: absolute;
  left: 0;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .green-elements {
    padding-top: 75px;
  }
}
.phone {
  visibility: hidden;
  position: absolute;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .phone {
    visibility: visible;
    display: inline-block;
    left: 14%;
    margin-top: 65px;
  }
}
.phone_screen {
  position: absolute;
  margin-top: -700px;
  margin-left: 30px;
}
.promo_right-side {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 99.16666666666666%;
  margin: 0 0.416666666666666%;
  color: #fff;
  position: relative;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .promo_right-side {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 44.16666666666667%;
    margin: 0 0.416666666666666%;
    margin-left: 50.41666666666666%;
  }
}
.promo_right-side .content {
  display: inline-block;
  padding-left: 20px;
  margin-top: 180px;
}
.promo_right-side h1 {
  text-transform: uppercase;
  font-size: 1.875em;
  line-height: 38px;
  margin-bottom: 25px;
}
.promo_right-side p {
  font-size: 1.0625em;
  line-height: 20px;
}
.button-container {
  margin-top: 60px;
  text-align: right;
  padding-right: 30px;
}
