html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head-line {
  position: relative;
  width: 100%;
  height: 21px;
  background-color: #04e4a2;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  body {
    font-size: 100%;
  }
}
header {
  background-color: #e94643;
  width: 100%;
  z-index: 100;
  position: relative;
  display: block;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header .header-wraper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1250px;
}
header .header-wraper:before,
header .header-wraper:after {
  content: " ";
  display: table;
}
header .header-wraper:after {
  clear: both;
}
header .logo {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
  display: inline-block;
  line-height: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  header .logo {
    text-align: left;
  }
  header .logo span {
    padding-left: 165px;
  }
}
header nav {
  display: inline-block;
  text-align: right;
  line-height: 80px;
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
}
header .nav-wraper {
  padding-right: 20px;
  text-align: right;
}
header .nav-item {
  display: inline-block;
  font-size: 1rem;
  margin: 0 10px;
  font-weight: 100;
}
header .nav-item a {
  text-transform: uppercase;
  border-bottom: 3px solid #fdd835;
  text-decoration: none;
  color: #fff;
}
button,
.buttonInput {
  text-transform: uppercase;
  line-height: 3;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
}
.green-button {
  background-color: #04e4a2;
}
.red-button {
  background-color: #e94643;
}
.promo {
  background-color: #ef5350;
  padding-bottom: 123px;
}
.promo-wraper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1250px;
}
.green-elements {
  position: absolute;
  visibility: hidden;
  margin-top: -75px;
  margin-left: -350px;
  z-index: 1;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .green-elements {
    visibility: visible;
  }
}
.phone {
  visibility: hidden;
  position: absolute;
  display: block;
  z-index: 2;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .phone {
    visibility: visible;
    display: inline-block;
    margin-top: 65px;
    margin-left: 135px;
  }
}
.phone_screen {
  position: absolute;
  margin-top: -700px;
  margin-left: 30px;
}
.promo_right-side {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 99.16666666666666%;
  margin: 0 0.416666666666666%;
  color: #fff;
  position: relative;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .promo_right-side {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 44.16666666666667%;
    margin: 0 0.416666666666666%;
    margin-left: 50.41666666666666%;
  }
}
.promo_right-side .content {
  display: inline-block;
  padding-left: 20px;
  margin-top: 50px;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .promo_right-side .content {
    margin-top: 180px;
  }
}
.promo_right-side h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.35;
  margin-bottom: 23px;
  letter-spacing: 0.8px;
}
.promo_right-side p {
  font-size: 1.2rem;
  line-height: 1.1;
}
.button-container {
  margin-top: 59px;
  text-align: right;
  padding-right: 32px;
}
.form {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 35px;
  max-width: 1250px;
}
.form .container {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 99.16666666666666%;
  margin: 0 0.416666666666666%;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .form .container {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 49.16666666666666%;
    margin: 0 0.416666666666666%;
    margin-left: 50.41666666666666%;
    max-width: 520px;
    padding-left: 20px;
  }
}
.form h3 {
  padding-left: 22px;
  font-size: 1.2em;
  color: #ef5350;
}
.form form {
  margin-top: 18px;
}
.form .two-column-block input {
  width: 100%;
  margin: 0 0 20px 0;
  line-height: 44px;
  font-size: 1em;
  padding: 0 20px;
  border-radius: 5px;
  border: 2px solid #e3f2fd;
  outline: none;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .form .two-column-block input {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 49.16666666666666%;
    margin: 0 0.416666666666666%;
    max-width: 250px;
    margin: 0 0 20px 0;
  }
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .form .two-column-block input:nth-child(even) {
    margin-left: 20px;
  }
}
.form .inputList {
  display: inline-block;
  position: relative;
}
.form .inputList::after {
  display: inline-block;
  position: absolute;
  content: '';
  background-color: #808080;
  height: 400px;
  width: 400px;
}
.form textarea {
  width: 100%;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #e3f2fd;
  outline: none;
  resize: none;
}
.form .buttonInput {
  width: 100%;
  margin-top: 17px;
  line-height: 44px;
  padding: 0 34px;
}
@media only screen and (min-device-width: 1280px) and (min-width: 1280px) {
  .form .buttonInput {
    width: auto;
    float: right;
  }
}
footer {
  background-color: #fefcf2;
  margin-top: 32px;
  width: 100%;
}
footer .container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1250px;
  line-height: 67px;
  color: #636363;
}
.copyrighte {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 127px;
}
.contact-mail-box {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 22px;
}
.contact-mail-box .icon i {
  color: #04e4a2;
  float: left;
  line-height: 67px;
  font-size: 1.77rem;
}
.contact-mail-box .email {
  float: left;
  padding-left: 13px;
}
