html
	head
		title Indipixel
		link(rel="stylesheet", href="./main.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
	body
		.head-line
		header
			.header-wraper
				.logo 
					span indipixel
				
				nav
					ul.nav-wraper
						li.nav-item
							a(href="#") Contact Us