@import 'kouto-swiss'

meyer-reset()

DESCTOP_SCREEN = only screen, min-device-width 1280px, min-width 1280px

LIGHT-GREEN = #04e4a2

.head-line
	position relative
	width 100%
	height 21px
	background-color #04e4a2
	
body
	font-family: 'Montserrat', sans-serif;

// Header style
header
	background-color #e94643
	width 100%
	z-index 100
	position relative
	display block
	clearfix()

	.header-wraper
		gs('fluid')
		max-width 1250px
		clearfix()
		

	.logo
		col(6)
		display inline-block
		line-height 80px
		color #FFFFFF
		font-weight bold
		font-size em(35)
		text-align center
		+media-query(DESCTOP_SCREEN)
			text-align left
			span
				padding-left 165px
			
	nav
		display inline-block
		text-align right
		line-height 80px
		col(6)

	.nav-wraper
		padding-right 20px
		text-align right
	.nav-item
		display inline-block
		font-size em(16)
		margin 0 10px
		font-weight 100
		a
			text-transform uppercase
			border-bottom 3px solid #fdd835
			text-decoration none
			color #FFFFFF
		
	
// Button style
button, .buttonInput
	text-transform uppercase
	line-height 50px
	border none
	border-radius 5px
	color #FFFFFF
	font-size em(18)
	font-weight bold
	padding 0 24px
	outline none
	cursor pointer
.green-button
	background-color LIGHT-GREEN
.red-button
	background-color #e94643


// Promo style
.promo
	background-color #ef5350
	height 580px

.promo-wraper
	gs('fluid')
	max-width 1250px

.green-elements
	position absolute
	visibility hidden
	margin-top -75px
	margin-left -350px
	z-index 1
	+media-query(DESCTOP_SCREEN)
		visibility visible
.phone
	visibility hidden
	position absolute
	display block
	z-index 2
	+media-query(DESCTOP_SCREEN)
		visibility visible
		display inline-block
		margin-top 65px
		margin-left 135px

.phone_screen
	position absolute
	margin-top -700px
	margin-left 30px
	
.promo_right-side
	col(12)
	color #FFFFFF
	position relative
	+media-query(DESCTOP_SCREEN)
		col(5.4)
		offset(6)
	.content
		display inline-block
		padding-left 20px
		margin-top 180px
	h1
		text-transform: uppercase
		font-size em(30)
		line-height 38px
		margin-bottom 25px
	p
		font-size em(17)
		line-height 22px
	
.button-container
	margin-top 55px
	text-align right
	padding-right 32px
	
.form
	gs('fluid')
	padding-top 35px
	max-width 1250px
	.container
		col(12)
		+media-query(DESCTOP_SCREEN)
			col(6)
			offset(6)
			max-width 250px*2+20px
			padding-left 20px
	h3
		padding-left 22px
		font-size 1.2em
		color #ef5350
	form
		margin-top 18px
	.two-column-block
		input
			width 100%
			margin 0 0 20px 0
			+media-query(DESCTOP_SCREEN)
				col(6)
				max-width 250px
				margin 0 0 20px 0
			line-height 44px
			font-size 1em
			padding 0 20px
			border-radius 5px
			border 2px solid #e3f2fd
			outline none
		+media-query(DESCTOP_SCREEN)
			input:nth-child(even)
				margin-left 20px
	.inputList
		display inline-block
		position relative
	.inputList::after
		display inline-block
		position absolute
		content ''
		background-color grey
		height 400px
		width 400px
	textarea
		width 100%
		font-size 1em
		padding 10px 20px
		border-radius 5px
		border 2px solid #e3f2fd
		outline none
		resize none
	.buttonInput
		width 100%
		margin-top 17px
		line-height 44px
		padding 0 34px
		+media-query(DESCTOP_SCREEN)
			width auto
			float right
		
	